<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Diseño de Formulario de Inicio de sesión</title>
    <link rel="stylesheet" href="../src/styles/css/diseñologin.css">
    <link rel="stylesheet" href="../public/promociones.html">
</head>
<body>
    <div class="wrapper">
        <div class="title">Inicio de sesión</div>
        <form action="../public/perfilusua.html">
            <div class="field">
                <input class="form-control" type="text" name="txtbuscar" placeholder="Correo electronico">
                <label placeholder="Correo electronico"></label>
            </div>
            <div class="field">
                <input class="form-control" type="text" name="txtbuscar" placeholder="Contraseña">
                <label ></label>
            </div>
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Recuerdame</label>
                </div>
                
                <div class="pass-link"> <a href="../public/olvidarcontra.html">¿Has olvidado tu Contraseña?</a></div>
                <div class="field">
                    
                    <input type="submit" value="Login">
                    
                </div>
                <div class="singup-link">¿No es un usuario? <a href="../public/registrarse.html">Registrate ahora</a></div>
            </div>
        </form>
    </div>
</body>
</html>