<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mas vendido</title>
    <link rel="stylesheet" href="../src/styles/css/masvendio.css">
</head>
<body>
    <section class="best-sellers">
        <h2>Lo Más Vendido</h2>
        <div class="product-list">
            <div class="product-item">
                <img src="../public/assts/img/imagenespromociones/iph15pmx.webp" alt="Producto 1">
                <h3>Iphone 15 Pro Max</h3>
                <p>(256 GB)-Titanio</p>
                <span class="price">$24,351</span>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
            <div class="product-item">
                <img src="../public/assts/img/imagenespromociones/zte.webp" alt="Producto 2">
                <h3>Zte Axon 50 Lite</h3>
                <p>(256 GB)-Verde claro</p>
                <span class="price">$2,269</span>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
            <div class="product-item">
                <img src="../public/assts/img/imagenespromociones/apwach.webp" alt="Producto 3">
                <h3>Smartwatch Huawei-Watch</h3>
                <p>Watch-Fit 3 Rosa</p>
                <span class="price">$1,999</span>
                <a href="#" class="btn">Comprar Ahora</a>
            </div>
        </div>
    </section>
    
</body>
</html>