<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../src/styles/estiloregistro.css">
</head>
<body>
    <form action="../public/iniciosecion.html">
        <fieldset>
            <legend>Personalia:</legend>
            <label for="fname">Ingresa tu nombre</label>
            <input type="text" id="fname" name="fname" value="">
            <label for="lname">Apellidos</label>
            <input type="text" id="lname" name="lname" value="">
            <label for="email">Correo electronico</label>
            <input type="email" id="email" name="email" value="">
            <label for="phone">Numero de telefono</label>
            <input type="tel" id="phone" name="phone" value="">
            <label for="address">Dirección</label>
            <input type="text" id="address" name="address" value="">
            <label for="zipcode">Codigo postal</label>
            <input type="text" id="zipcode" name="zipcode" value="">
            <label for="street">Calle</label>
            <input type="text" id="street" name="street" value="">
            <label for="interior">Numero interior</label>
            <input type="text" id="interior" name="interior" value="">
            <label for="exterior">Numero exterior</label>
            <input type="text" id="exterior" name="exterior" value="">
            <input id="regis" type="submit" value="Registrarme">
            <a id="regis" href="../public/index.html">Cancelar</a>
        </fieldset>
    </form>
</body>
</html>